version: '3'
services:
  app:
    container_name: react-app-container
    image: node:16-alpine
    volumes:
      - ./:/app
    working_dir: /app
    command: sh -c "yarn install && yarn dev"
    ports:
      - '3000:3000'
